.fondoCreated {

     background-color: brown;
     height: 100vh;
     width: 100vw;
     background-size: cover;
     background-position: center;
     overflow: auto;
     text-align: center;
}

.formCreate {
    background-color: green;
    padding-top: 1rem;
    
    
}


.formCreate input {
    text-align: center;
    margin-left: 1rem;
    border-radius: 1rem;
}

.formCreate label{
    display: block;
    color: #000;
}

.selectType p {
    display: flex;
    justify-content: space-around;
    margin-top: .5rem;
    color: #000;

}
